<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/ADMIN/IdeaProjects/SeleniumTest/src/test/java/testngdemo/TestngAnnotationsDemo1.java"><classes><class name="testngdemo.TestngAnnotationsDemo1"><methods><include name="funA"/></methods></class></classes></test></suite>